In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df =pd.read_csv('DOGE-USD.csv')
df

            Date      Open      High       Low     Close  Adj Close     Volume
0     2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415    6259550
1     2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163    4246520
2     2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201    2231080
3     2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038    3288960
4     2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211    2481270
...          ...       ...       ...       ...       ...        ...        ...
1590  2022-03-18  0.116490  0.119375  0.114568  0.119306   0.119306  410862503
1591  2022-03-19  0.119278  0.124573  0.118530  0.123569   0.123569  628081786
1592  2022-03-20  0.123579  0.123919  0.117991  0.119154   0.119154  428111799
1593  2022-03-21  0.119146  0.121332  0.118306  0.119339   0.119339  439486516
1594  2022-03-22  0.119388  0.123319  0.119014  0.122923   0.122923  512408000

[1595 rows x 7 columns]

In [3]:
df = df.set_index(pd.DatetimeIndex(df['Date'].values))

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
2017-11-09,2017-11-09,0.001207,0.001415,0.001181,0.001415,0.001415,6259550
2017-11-10,2017-11-10,0.001421,0.001431,0.001125,0.001163,0.001163,4246520
2017-11-11,2017-11-11,0.001146,0.001257,0.001141,0.001201,0.001201,2231080
2017-11-12,2017-11-12,0.001189,0.001210,0.001002,0.001038,0.001038,3288960
2017-11-13,2017-11-13,0.001046,0.001212,0.001019,0.001211,0.001211,2481270
...,...,...,...,...,...,...,...
2022-03-18,2022-03-18,0.116490,0.119375,0.114568,0.119306,0.119306,410862503
2022-03-19,2022-03-19,0.119278,0.124573,0.118530,0.123569,0.123569,628081786
2022-03-20,2022-03-20,0.123579,0.123919,0.117991,0.119154,0.119154,428111799
2022-03-21,2022-03-21,0.119146,0.121332,0.118306,0.119339,0.119339,439486516
2022-03-22,2022-03-22,0.119388,0.123319,0.119014,0.122923,0.122923,512408000

In [5]:
# ask the user the amount of money invested and date that they invested
amount_invested = input('Amonut Invested in $')
print(amount_invested)
invest_date = input('Enter date you have invested')
print(invest_date)

Amonut Invested in $100
100
Enter date you have invested2017-11-13
2017-11-13

In [6]:
# get low and high price of the day user has invested
#create variables to store the low and high price column names
col1 = 'Low'
col2 = 'High'

price1 = df[col1][invest_date]
price2 = df[col2][invest_date]

#compute quantity of asset that user would have
quantity1 = int(amount_invested) / price1
quantity2 = int(amount_invested) / price2

#compute the profit 
profit1 = (quantity1 * df[col1][-1]) - int(amount_invested)
profit2 = (quantity2 * df[col2][-1]) - int(amount_invested)

#print the range amount that the user would'vs made or loss
print('You would have made between $', round(profit1,2), 'and $', round(profit2,2),'as of', df['Date'][-1])

You would have made between $ 11579.49 and $ 10074.83 as of 2022-03-22

In [7]:
#compute return on investment range
ROT1 = profit1/ int(amount_invested) * 100
ROT2 = profit2/ int(amount_invested) * 100
print('Yoour Return on Inveestment would be between', round(ROT1,2), '% and',round(ROT2,2),'% as of', df['Date'][-1])

Yoour Return on Inveestment would be between 11579.49 % and 10074.83 % as of 2022-03-22